<h1>
  Cart
</h1>
<div id="cart">
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Amount
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
              {{title}}
            </td>
            <td>
              {{count}}
            </td>
            <td>
              <button
                class="btn btn-small js-remove"
                data-id={{id}}
                data-csrf={{@root.csrf}}
              >
                Del
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>
      <strong>
        Price:
      </strong>
      <span class="price">
        {{price}}
      </span>
    </p>
    <form action="/order" method="post">
      <input type="hidden" name="_csrf" value={{csrf}} />
      <button type="submit" class="btn">
        Create order
      </button>
    </form>
  {{else}}
    <p>
      Cart is empty
    </p>
  {{/if}}
</div>