<h1>
  Edit Course
  {{course.title}}
</h1>
<div class="row">
  <form action="/courses/edit" method="POST" class="col s12">
    <div class="row">
      <input name="id" type="hidden" value={{course.id}} />
      <div class="input-field">
        <input
          name="title"
          id="title"
          type="text"
          class="validate"
          required
          value={{course.title}}
        />
        <label for="title">
          Course title
        </label>
        <span class="helper-text" data-error="Write some title"></span>
      </div>
      <div class="input-field">
        <input
          name="price"
          id="price"
          type="text"
          class="validate"
          required
          value={{course.price}}
        />
        <label for="price">
          Price
        </label>
        <span class="helper-text" data-error="Input price"></span>
      </div>
      <div class="input-field">
        <input
          name="image"
          id="img"
          type="text"
          class="validate"
          required
          value={{course.image}}
        />
        <label for="img">
          Image URL
        </label>
        <span class="helper-text" data-error="Add image url"></span>
      </div>
      <input type="hidden" name="_csrf" value={{csrf}} />
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
  <form action="/courses/remove" method="POST">
    <input name="id" type="hidden" value={{course.id}} />
    <input type="hidden" name="_csrf" value={{csrf}} />
    <button type="submit" class="btn red">
      Delete course
    </button>
  </form>
</div>